@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
    background-image: url('../Imagenes/fondohome.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

section {
    margin-top: 50px;
    height: 40%;
}

section h1 {
    font-size: 60px;
    text-align: center;
}

section p {
    font-size: 20px;
    text-align: center;
}

.seccionblanco {
    width: 100%;
    background-color: white;
    padding: 100px 0px;
    margin-top: 415px;
}

.img {
    position: relative;
    width: 10.87%;
    height: 165px;
    top: 419px;
}

.img2 {
    position: relative;
    width: 100%;
    height: 500px;
    bottom: 50px;
    right: 250px;
}

.box {
    width: 900px;
    height: 400px;
    border: none;
    box-shadow: 0 10px 14px rgba(0,0,0,0.2);
    position: relative;
    bottom: 10px;
    left: 50px;
}

.box h2 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    left: 70px;
    top: 25px;
}

.box p {
    position: relative;
    left: 330px;
    bottom: 460px;
    text-align: left;
}

.box2 {
    width: 150px;
    height: 50px;
    border: none;
    background-color: lime;
    box-shadow: 0 10px 14px rgba(0,0,0,0.2);
    position: relative;
    bottom: 110px;
    left: 760px;
}

.box2 h2 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    left: 22px;
    top: 8px;
}

.box2 h2 a {
    text-decoration: none;
    color: black;
}

.box2 h2 a:hover {
    color: white;
}
